<html lang="zxx">

<head>
	<title>Plants</title>
	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8" />
	<meta name="keywords" content="" />
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!--// Meta tag Keywords -->

	<!-- Custom-Files -->
	<link rel="stylesheet" href="../static/css/bootstrap.css">
	<!-- Bootstrap-Core-CSS -->
	<link rel="stylesheet" media="all"  type="text/css" href="../static/css/css_slider.css">
	<!-- banner slider -->
	<link rel="stylesheet" type="text/css" media="all" href="../static/css/仿css.css">
	<!-- Style-CSS -->
	<link  rel="stylesheet" href="../static/css/font-awesome.min.css">
	<!-- Font-Awesome-Icons-CSS -->
	<!-- //Custom-Files -->
	<!--小图标-->
	<link rel="shortcut icon" href="../static/images/favicon.ico">
	<!--小图标-->
	<!-- Web-Fonts -->
	<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i"
	 rel="stylesheet">
	<link href="http://fonts.googleapis.com/css?family=Niconne&amp;subset=latin-ext" rel="stylesheet">
	<link href="http://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=devanagari,latin-ext"
	 rel="stylesheet">
	<!-- //Web-Fonts -->
</head>

<body>
	<div id="home">
		<!-- header -->
		<header class="header-style fixed-top">
			<div class="container">
				<div class="header d-lg-flex justify-content-between align-items-center">
					<!-- logo -->
					<h1 class="logo text-center">
						<a href="{{url_for('app_view.index')}}">Plants<i class="fa fa-pagelines" aria-hidden="true"></i>
						</a>
					</h1>
					<!-- //logo -->
					<!-- nav -->
					<div class="nav_w3ls">
						<nav>
							<label for="drop" class="toggle toogle-2">目录</label>
							<input type="checkbox" id="drop" />
							<ul class="menu">
								<li class="active ml-0"><a href="{{url_for('app_view.index')}}">首页</a></li>
								<li><a href="{{url_for('app_view.index')}}">我们的团队</a></li>
								<li><a href="{{url_for('app_view.serch')}}">植物查找</a></li>
								<li><a href="{{url_for('app_view.serch_list')}}">植物列表</a></li>
								<li><a href="{{url_for('app_view.index')}}">未来计划</a></li>
								<li><a href="{{url_for('app_view.gongzhao')}}">微信公众号</a></li>
								<li><a href="{{url_for('app_view.push_photo')}}">植物识别</a></li>
								<li><a href="{{url_for('app_view.index')}}">作者语</a></li>
							</ul>
						</nav>
					</div>
					<!-- //nav -->
				</div>
			</div>
		</header>
		<!-- //header -->
		<!-- 图片 -->
		<div class="photo">
			<img src="../static/images/abb.jpg" alt="">
		</div>
		<!-- 图片 -->
		<!-- 日推 -->
		<div>
			<section class="w3ls-bnrbtm py-5" id="blog">
					<div class="py-xl-5 py-lg-3">
						<div class="row no-gutters">
							<div class="col-xl-5 who-left-w3pvt offset-xl-1 pt-xl-3 pr-xl-0 pr-3">
								<h3><span class="font-weight-light">今日植物推荐:&nbsp&nbsp&nbsp&nbsp{{ names[0] }}</span></h3>
								<p>{{Time}}</p>
								<ul class="timeline">
									<li>
										<a class="head-text-w3">植物种属</a>
										<p>{{ min_datas[0] }}</p>
									</li>
									<li>
										<a class="head-text-w3">植物分布</a>
										<p>{{ max_datas[0] }}</p>
									</li>
									<li>
										<a class="head-text-w3">相关小知识</a>
										<p>{{ Knowledge[0] }}</p>
									</li>
								</ul>
							</div>
							<div class="col-xl-6 mt-xl-0 mt-md-5 mt-4 text-xl-right text-center">
								<img class="img-fluid rounded" src="{{ ph }}" alt=" ">
							</div>
						</div>
					</div>
			</section>
		</div>
		<!-- 日推 -->
		<!-- 底部 -->
		<div class="footer">
			<p>
				版权所属：@wuyi &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp未经允许，禁止转载网站内容<br>
				<a href="#">联系我们&nbsp&nbsp&nbsp&nbsp</a>E-mail:<a href="#">&nbsp&nbspPlants@163.com</a>
			</p>
		</div>
		<!-- 底部 -->
	</div>
</body>
</html>
